page-home {

  #splash-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background-color: white;
    animation: fadeOutAtEnd 5s;
  }

  .splash {
    height: 100%;
    width: 100%;
    animation: bg 4s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    animation: swashIn 1s, holeOut 2s 3s;
    padding: 5px;
    width: 25%;
    height: auto;
    margin: 10px;
    line-height: 20px;
    text-align: center;
  }

  .bg {
    animation-name: bg;
  }
  @keyframes bg {
    0% {
      opacity: 0;
      background: white;
    }

    50%,80% {
      opacity: 1;
        background: #4F8EF7;
    }

    100% {
      opacity: 1;
      background: white;
    }
  }

  .fadeOutAtEnd {
    animation-name: bg;
  }
  @keyframes fadeOutAtEnd {
    0% {
      opacity: 1;
    }
  80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .swashIn {
    animation-name: swashIn;
  }
  @keyframes swashIn {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(0, 0);
    }

    90% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(0.9, 0.9);
    }

    100% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
    }
  }

  .holeOut {
    animation-name: holeOut;
  }
  @keyframes holeOut {
    0% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1) rotateY(0deg);
    }

    50%,100% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(0, 0) rotateY(180deg);
    }
  }
}
